*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* background:#fefefe; */
}
:root{
    --main-font:'Times New Roman', Times, serif;
    --sec-font: Verdana, Geneva, Tahoma, sans-serif;
    --body-font:'Roboto', sans-serif; 
    --primary-color: #b82601;
    --main-font-color-dark:#252525;
    --secondary-font-color:#c59d5f;
    --body-font-color:#515151;
}
main{
    min-height:100%;
}

a{
    text-decoration:none;
}

ul{
    list-style-type: none;
}
.primary-color{
    color: var(--primary-color);
}

.cust-btn{
    display: inline-block;
    text-transform: uppercase;
    /* letter-spacing: 1px; */
    /* margin-right: -1px; */
    color:white;
    border-radius: 5px;
    font-weight:bold;
    transition:opacity .5s;
    cursor:pointer;
    padding:10px 15px;
    font-weight: 600;
    font-family: var(--body-font);
}
.cust-btn:hover{
    opacity: .7;
}
.cta-btn{
    font-size:1rem;
    background-color: #b82601;
    
    
}
.cta-btn:hover,
.cta-btn:focus{
    color:#fff;
    opacity:.7;
    text-decoration:none;

}
.btn-outline{
    border:2px solid var(--primary-color);
    color: var(--primary-color);
    background:transparent;
}
.btn-outline:hover{
    background:var(--primary-color);
    color:#fff;
    text-decoration: none;

}
nav.black{
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(37, 36, 36)), color-stop(1, #302f2f));
    box-shadow: 0 2px 7px #010000;
    color:rgb(48, 48, 48);
    transition:all .5s ease;
    box-shadow: 1px 2px 3px .5px rgb(46, 16, 16);

}
.navbar{
    position:fixed;
    top:0;
    height:70px !important;
    width: 100% !important;
    z-index:1;
    color:#fff !important;
    /* background:#000; */
    
}

.mynav{
    position:fixed;
    top:0;
    height:70px !important;
    width: 100% !important;
    z-index:1;
    color:#fff !important;
    background:#000 !important;
    
    
}
.navbar-brand h3 {
    color:var(--primary-color);
    font-weight: bold;
    font-family:var(--body-font);
    font-size:1.8rem;
    text-transform: uppercase;
    background:url('/images/dice-5518248_1280.jpg');
    background-size: contain;
    color:transparent;
    background-clip: text;
    -webkit-background-clip: text;
    
}
.navbar a {
    display: block;
    color:#fff;
    padding:10px 15px;
    margin:0 5px;
    text-decoration: none;
    font-weight:500;
    font-family: var(--body-font);
    text-transform: capitalize;
    transition: all .5s ease-in-out;
}
.navbar ul li a:hover{
    color:var(--primary-color);
    font-weight: bold;
}

.navbar-toggler{
    outline: none !important;
}


/* header */

.hero{
    height: 100vh;
    width:100%;
    background:url('../images/inner-hero-header.jpg')no-repeat center center / cover;
    position:relative;
   
}


 
.hero::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:rgb(77, 4, 14);
    opacity: .6;
    
}
.hero .content{
    display: flex;
    flex-direction: column;
    height:100%;
    width:100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  

}
.hero *{
    z-index: 10;
}

.content h1{
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    font-weight: 600;
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
    color : #FFf;
    /* padding-bottom:10px; */
    margin-bottom: 0;
    /* margin-top:100px; */
    

}
.content p{
    font-size: 23px;
    max-width:600px;
    color: #fff;
    text-transform: capitalize;
    text-indent: 10px;
    /* padding:0 10px; */
    margin:20px 0 30px;

}

.home-img img{
    width:100%;
}
/* \about */
#about-us{
    background:#fff;
    padding:50px;
    height:100%;
    width:100%;
}
.title{
    font-size:25px;
    font-family: var(--body-font);
    font-weight: 300;
    padding: 10px 15px;
    text-transform: uppercase;
}

.sub-title{
    font-size: 17px;
    color: #131313;
    margin-bottom: 10px;
}
.about-us{
    padding-left:50px;
}
.about-us p{
    line-height: 28px;
    font-size:18px;
    /* color:#444; */
    /* font-size:16px; */
}
.speciality li{
    padding-bottom: 8px;
    /* line-height:24px; */
    text-transform: capitalize;
}
.speciality i{
    color: var(--primary-color);
    margin-right: 10px;
    font-size:18px;
}
/* services */

#services{
    padding:50px;
    background:#aca8a8;
    text-align: center;
}
#services h4{
    font-weight:bold;
    text-transform:capitalize;
    font-family: var(--body-font);
    margin-bottom:15px;
    font-size:18px;

}

#services h4 a{
    text-decoration: none;
    color:#252525
}
#services h4 a:hover{
    color:var(--primary-color)
}
#services i{
    background-color: var(--primary-color);
    color:#fff;
    border-radius: 50%;
    margin-bottom: 15px;
    padding:1rem;
}
.services p{
    color:#444;
    line-height: 28px;
    padding:10px 15px;
    font-size:18px;
    /* text-align:left */
    /* margin-bottom: 30px; */
}
.cardbody img{
    width:100px;
}
/* benefits of working with us */
#benefits{
    padding:50px;
    /* background-color: #f5f5f5 !important; */
    
}
#benefits h2{
    text-transform: uppercase;
    font-size:25px;
    font-weight:300;
    font-family: 'Roboto', sans-serif; 
}

.choose-us{
    display: flex;
    justify-content: space-between;
    width:100%;
    margin-bottom: 20px;
}
.choose-img{
    margin-right:30px;
    
}
.choose-img img{
    height: 60px;
    width:60px;
}

.choose-us h4{
    color:#131313;
    font-family:var(--body-font);
    font-size:18px;
    text-transform: capitalize;
    font-weight:bold;
    
}
.choose-us i{
    background-color: var(--primary-color);
    color:#fff;
    border-radius: 50%;
    margin-bottom: 15px;
    padding:1rem;

}



/* clients sction */
#clients{
    padding:50px;
}
.item img{
    width:100%;
    height: 100px;

}
.carousel-control-next-icon{
    color:red;
}

/* Blog Page */
.blog{
    
    background-color: #fff;
    margin:10px 5px;
    box-shadow: 2px 3px 5px gray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.blog-content{
    /* width:60%; */
    padding:5px 10px;
    
}
.blog-content h4 a{
    display: block;
    color:#131313;
    font-weight:200;
    text-transform: capitalize;
    padding:10px 0;

}
.blog-content h4 a:hover{
    color:var(--primary-color)
}
/* Pricing */
#pricing{
    padding:50px;
    /* background:linen; */
}
.pricing-plan{
    display: flex;
    justify-content: center;
    width:100%;
}
.price{
    width:300px;
    background:#fff;
    box-shadow:2px 3px 5px gray;
    margin:15px;
    border-radius: 10px;
    transition:all .5s ease-out;
    cursor:pointer;
}
.price:hover{
    transform:translateY(-3px);
    background:#080808c5;
    color:#fff;
}
.top-price{
    background:var(--primary-color);
    color:#fff;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    transition:0.3s ease-in-out;
    text-align: center;
    padding:10px 15px;
}
.top-price h5{
    text-transform: uppercase;
    font-weight:bold;
    background:#fff;
    background-size: contain;
    background-clip: text;
    color:transparent;
    -webkit-background-clip: text;
    
}
.price-list{
    padding:5px 15px;
}
.price-list ul li{
    padding:3px 5px;
}
.price-list ul li i{
    color:var(--primary-color);
    margin-right: 5px;
    /* border:2px solid green; */
    /* border-radius:50px; */
    /* padding:3px; */
    font-size:13px;
}
.amount{
    padding-bottom: 30px;
    
}

/* footer */
.footer{
    position: relative;
    width:100%;
    height:100%;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(37, 36, 36)), color-stop(1, #302f2f));
   
    padding:50px;
    color:white;
    bottom:0;
}

.footer h5{
    text-transform: capitalize;
    font-family: var(--body-font);
    /* color:var(--primary-color); */
    /* font-size:1.1rem; */
    /* font-weight: bold; */
}
.footer i{
    margin-right: 5px;
    /* color:red; */
}
.footer-lists li{
    
    padding: 10px 0;
    border-bottom: 1px solid rgb(240, 215, 215);
    border-top: 1px solid rgb(236, 234, 234);
    width:80%;
    
}
.footer-lists li:last-child{
    border-bottom:none;
}
.footer-lists li:first-child{
    border-top:none;
}
.footer-lists li a{
    display: block;
    color:white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: all .4s ease-in-out;
}
.footer-lists li a:hover{
    color:var(--primary-color);

}
.footer .social{
    display: flex;
    /* justify-content: center; */
}
.footer .social i{
    font-size:20px;
    background:var(--primary-color);
    border-radius:10px;
    padding:10px;
    margin:10px;

}
.top-link{
    position:fixed;
    right:50px;
    bottom:50px;
    widows: 2rem;
    height:2rem;
    /* display: grid; */
    animation:bounce 2s ease-in-out infinite;
    background:var(--primary-color);
    padding:10px;
    border-radius: 50px;
    opacity:0;
    color:white;
    font-weight: bold;
}
.top-link.show-link{
   opacity:1;
   z-index:100;
}

/* link building page */



.inner-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width:100%;
    text-align: center;
}
.inner-content h1{
    font-size:40px;
    color:#fff;
    font-family: var(--primary-color);
    line-height: .70rem;
    text-transform: uppercase;
    padding-bottom:1rem;
    text-shadow: 2px 1px 3px #d80707;
}
.inner-content p{
    max-width:600px;
    font-size:22px;
    font: weight 400;
    color:#fff;
    text-transform: capitalize;
}
.link-building{
    margin:auto;
    padding:20px 30px;
}
/* Service page */
.service-main{
    display: block;
    background:#fff;
    box-shadow: 2px 4px 10px gray;
    padding:10px;
    margin-bottom: 10px;
}
.service-main img{
    height:100px;
    /* width:100%; */
}
.service-main h4{
    padding:10px 0;
}
.service-main:hover{
    transform:scale(1.1);
}

/* individual blog page */
.content-blog{
    margin-top:5rem;
    margin-bottom: 2rem;
    background:#fff;
    box-shadow: 2px 4px 10px gray;
    padding:10px;
    color:#444;

}
.content-img img{
    width:100%;
    height:400px;

}
.content-blog h1{
    font-family: var(--body-font);
    padding:10px;
    text-align: center;
}
.content-blog p{
    padding:10px 15px;
    font-size: 16px;
    line-height: 24px;

}
/* inventory page */
.my-form{
    background:blue;
    padding:10px;
    box-shadow:2px 3px 5px gray;
}
@keyframes bounce{
    0%{
        transform:scale(1);
    }
    50%{
        transform:scale(1.5);
    }
    100%{
        transform:scale(1);
    }
}

